.swal2-modal{
    background-color: var(--color-fondo);
    border-radius: 30px;
}
.my-modal {
    background-color: var(--color-fondo);
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    padding: 1vh;
    }
    
    .my-modal-header {
    font-size: 24px;
    color: var(--color-texto-principal);
    margin-bottom: 20px;
    }
    
    .my-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    
    .my-modal-input-group {
    position: relative;
    }
    
    .my-modal-input {
    border: none;
    border-bottom: 2px solid var(--color-secundario);
    background-color: transparent;
    color: var(--color-texto-principal);
    font-size: 16px;
    padding: 10px;
    width: 100%;
    }
    
    .my-modal-input:focus {
    outline: none;
    }
    
    .my-modal-input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--color-secundario);
    pointer-events: none;
    transition: 0.2s ease all;
    }
    
    .my-modal-input:focus ~ .my-modal-input-label,
    .my-modal-input:not(:placeholder-shown) ~ .my-modal-input-label {
    top: -10px;
    left: -5px;
    font-size: 12px;
    color: var(--color-texto-principal);
    background-color: var(--color-fondo);
    padding: 0 5px;
    }
    
    .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }
    
    .my-btn-secondary {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-secundario);
    color: var(--color-texto-principal);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease all;
    }
    
    .my-btn-secondary:hover {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    }
    
    .my-btn-primary {
    background-color: var(--color-secundario);
    border: none;
    color: var(--color-fondo);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease all;
    margin-top: 1vh;
    }
    
    .my-btn-primary:hover {
    background-color: var(--color-terciario);
    }