body{
    background: #232fff;
}
.input{
    width: 50vh;
}
.container{
    margin: 150px auto 30px;
    position: relative;
    display: grid;
    grid-template-columns: 1;
    place-items: center;
    gap: 10px;
    width: 460px;
    background: mintcream;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px rgb(0, 0, 0, .1);
}
.active{
    display: block;
}
.negative{
    display: none;
}