body{
    background: transparent;
}
.containerh2{
    margin-top: 10vh;
    margin-left: 8vh;
}
.containerswal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    row-gap: 10px;
}